@font-face {
font-family: "MyFont";
  src: url(http://snark.sub.jp/bokuani/second/font/neko.woff)format("woff");
}

/*-------------------reset-------------------*/
html,body,h1,h2,h3,h4,p,a,ul,li,dl,dt,dd{
	margin:0;
	padding:0;
	line-height:1.0;
	font-family:"mplus-2c-heavy","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	list-style:none;
	box-sizing: border-box;}
a{
	text-decoration: none;
}
img{
  border: none;
  vertical-align:bottom;}

p {
  line-height: 1.5;
}


/*-------------------variable-------------------*/
@import 'variable.scss';

/*-------------------sns-------------------*/
.fa-twitter{
color:#55acee;
}
.fa-mixcloud{
color:#34495E;
}
.fa-soundcloud{
color:#FF5500;
}
/*-------------------main-------------------*/
.container{
  width:960px;
  margin: 0 auto;
}
section{
  margin-bottom: 60px;
}
.section_title{//h2
  text-align: center;
  margin-bottom: 40px;
}

/*-------------------day&entrance-------------------*/
.day-ent_box{
  display: flex;
  justify-content: space-between;
  .day-ent_inner{
    width: 49%;
    border: 1px solid $ba_b;
    padding: 10px;
    &:first-child{
      margin-right: 2%;
    }
  }
}

/*-------------------day&entrance-------------------*/
.about_box{
  display: flex;
  justify-content: space-between;
  .about_inner{
    width: 49%;
    border: 1px solid $ba_b;
    padding: 20px;
    text-align: center;
    &:first-child{
      margin-right: 2%;
    }
    .about_image{
      margin-bottom: 20px;
    }
    .about_title{
      margin-bottom: 20px;
      font-size: 20px;
    }
    .about_text{
      text-align: left;
    }
  }
}

/*-------------------header-------------------*/
@import 'header.scss';

/*-------------------footer-------------------*/
@import 'footer.scss';
